[user]
	name  = Baptiste Fontaine
	email = batifon@yahoo.fr
[alias]
	a    = add
	br   = branch
	ca   = commit --amend
	cae  = commit --amend --no-edit
	caa  = commit --amend .
	chp  = cherry-pick
	cl   = clone
	cm   = commit -m
	co   = checkout
	df   = diff
	f    = fetch
	fixup = commit --amend --no-edit .
	fp   = format-patch
	i    = init
	lg   = log --graph --pretty=format:'%Cred%h%Creset - %C(blue bold)%an%Creset: %C(cyan)%s%Creset %Cgreen(%ar)%Creset'
	m    = mv
	# show all commits present on the current branch but not on its attached
	# remote.
	p    = !git lg @{u}..
	s    = status --short --branch
	sm   = send-email
	sp   = stash pop
	sd   = diff --cached
	# show all commits present on the remote branch but not the current one
	wazup = log ..@{u}

	# git-flow
	ff  = flow feature
	ffs = flow feature start
	fff = flow feature finish
	ffp = flow feature publish

[core]
	pager = cat
	editor = vim
	excludesfile = ~/.cvsignore

# Reading
# =======

[color]
	ui = auto
[color "branch"]
	current = bold
	upstream = cyan

[pager]
	blame = less -S

# Browsing
# ========

[diff]
	algorithm = patience
[grep]
	extendRegexp = true
[status]
	showUntrackedFiles = all

# History
# =======

[branch]
	autosetupmerge = true
[rerere]
	enabled = true
[tag]
	sort = version:refname

# Remotes
# =======

[fetch]
	prune = true
[push]
	default = upstream

# Third Parties
# =============

[github]
	user = bfontaine
[achievement]
	upload = false
[git-up "bundler"]
	check = true
