[user]
    name = Baptiste Fontaine
    email = batifon@yahoo.fr
[color]
	ui = auto
[color "branch"]
    current = bold
[alias]
    st = status
    br = branch
    ci = commit
    cm = commit -m
    co = checkout
    f  = fetch
    fo = fetch origin
    fp = format-patch
    lg = log --graph --pretty=format:'%Cred%h%Creset - %C(blue bold)%an%Creset: %C(cyan)%s%Creset %Cgreen(%ar)%Creset'
    lgs = log --graph --pretty=format:'%Cred%h%Creset: %s' # short
    plo = pull origin
    pso = push origin
[core]
    pager = cat
    editor = vim
[branch]
	autosetupmerge = true
[rerere]
	enabled = true
[push]
	default = tracking
