# Tip: re-read this file with <c-x><c-r>

# up
"\e[A": history-search-backward

# down
"\e[B": history-search-forward

# show all possibilities on one <tab> instead of two
set show-all-if-ambiguous on

# No beep
set bell-style none

# if the cursor is in the middle of a word, don't insert text
# in it when completing.
set skip-completed-text on

# From Bash manual
$if Bash
# prepare to type a quoted word --
# insert open and close double quotes
# and move to just after the open quote
"\C-x\"": "\"\"\C-b"
# Quote the current or previous word
"\C-xq": "\eb\"\ef\""
# Refresh the current line
"\C-xr": redraw-current-line
# Kill the current line
"\C-xc": kill-whole-line
$endif
