# main()
snippet main
	int main(int argc, char **argv) {
		${1}
		return 0;
	}
# main()
snippet vmain
	int main(void) {
		${1}
		return 0;
	}
snippet ifdef
	#ifdef ${1:FOO}
		${2:#define }
	#endif
# Header Include-Guard
# (the randomizer code is taken directly from TextMate; it could probably be
# cleaner, I don't know how to do it in vim script)
snippet ndef
	#ifndef _${1:`toupper(Filename('', 'UNTITLED')}
	#define $1 1

	${2}

	#endif /* $1 */
