snippet doct5
	<!DOCTYPE HTML>
snippet js
	<script src="${1}.js"></script>${2}
snippet css
	<link rel="stylesheet" href="${1}" media="all" />${2}
snippet meta
	<meta name="${1:name}" content="${2:content}" />${3}
