snippet main
	public static void main (String[] args) {
		${1:/* code */}
	}
snippet pc
	public class ${1:`Filename()`} {
		${2}
	}
snippet println
	System.out.println(${1});
snippet print
	System.out.print(${1});
