# Jasmine-style
snippet it
	it( '${1:should...}', function() {

		${2:// code}

	});
snippet desc
	describe( '${1:should...}', function() {

		${2:// code}

	});
# Module
snippet m
	(function() {

		${1:// code}

	})();
