snippet if
	{{#${1:cond}}}
		${2:<!-- body -->}
	{{/$1}}

snippet for
	{{#${1:cond}}}
		${2:<!-- body -->}
	{{/$1}}

snippet ifn
	{{^${1:cond}}}
		${2:<!-- body -->}
	{{/$1}}

snippet unesc
	{{{${1:var}}}}

